/100_Gemini_Exercise.ipynb
/16_Histogramm.ipynb
/17_Exercise Skills pay.ipynb
/1_Basic
/2_Advanced
/4_gimini_Exercises
/data_jobs.csv
/Jan_data_test.xlsx
/Job_DATA_2.csv
/July_data_test.csv
/New Codes.py
/TEST_Page_For_Execises.ipynb